* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $blanc;
}

body {
    font-size: 2rem;
    display: flex;
    width: 100%;
    font-family: $sans-serif;
    font-weight: $regular;
}

.wrapper {
    order: 1;
    flex: 1;
    width: calc(100vw - 75px);
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    font-family: 'PT';
    font-size: 4.5rem;
    line-height: 1.1em;
}

.date{
    text-transform: uppercase;
    font-weight: $semibold;
    font-size: 1.4rem;
}

.bt-arrow{
    font-family: $serif;
    font-size: 1.5rem;
    border:0;
    background: none;
    color: $blanc;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    margin-top: 1em;
    cursor: pointer;
    
    i{
        transition: all ease .2s;
        width: 40px;
        height: 2px;
        display: block;
        background-color: $blanc;
        margin-right: 20px;
        position: relative;
        border-radius: 5px;
        
        &::before,
        &::after{
            content: '';
            width: 20px;
            height: 2px;
            display: block;
            background-color: $blanc;
            transform-origin: right center;
            position: absolute;
            right: 0;
            border-radius: 5px;
        }
        
        &::before{
            transform: rotate(45deg);
        }
        
        &::after{
            transform: rotate(-45deg);
        }
    }
}